.d-block{
    display: block !important;
}

.w-col-1{
    width: calc(100%/12) !important;
}
.w-col-2{
    width: calc(100%/12*2) !important;
}
.w-col-3{
    width: calc(100%/12*3) !important;
}
.w-col-4{
    width: calc(100%/12*4) !important;
}
.w-col-5{
    width: calc(100%/12*5) !important;
}
.w-col-6{
    width: calc(100%/12*6) !important;
}
.w-col-7{
    width: calc(100%/12*7) !important;
}
.w-col-8{
    width: calc(100%/12*8) !important;
}
.w-col-9{
    width: calc(100%/12*9) !important;
}
.w-col-10{
    width: calc(100%/12*10) !important;
}
.w-col-11{
    width: calc(100%/12*11) !important;
}
.w-col-12{
    width: calc(100%) !important;
}


// .w-100p{
//     width: 100% !important;
// }
// .w-90p{
//     width: 90% !important;
// }
// .w-80p{
//     width: 80% !important;
// }
// .w-70p{
//     width: 70% !important;
// }
// .w-60p{
//     width: 60% !important;
// }
// .w-50p{
//     width: 50% !important;
// }
// .w-40p{
//     width: 40% !important;
// }
// .w-30p{
//     width: 30% !important;
// }
// .w-20p{
//     width: 20% !important;
// }
// .w-10p{
//     width: 10% !important;
// }
.h-100p{
    height: 100% !important;
}
.h-80p{
    height: 80% !important;
}
.h-60p{
    height: 60% !important;
}
.h-40p{
    height: 40% !important;
}
.h-20p{
    height: 20% !important;
}
.w-16{
    width: 16px !important;
}
.h-16{
    height: 16px !important;
}
.w-26{
    width: 26px !important;
}
.max-w-1200{
    max-width: 1200px !important;
}
.h-26{
    height: 26px !important;
}
.lh-26{
    line-height: 26px !important;
}

.d-flex{
    display: flex !important;
}
.gap-10{
    gap: 10px !important;
}
.gap-20{
    gap: 20px !important;
}
.jc-between{
    justify-content: space-between !important;
}
.jc-center{
    justify-content: center !important;
}
.jc-end{
    justify-content:end !important;
}
.ai-center{
    align-items: center !important;
}

.br-r-grey{
    border-right: 1px solid #dcdcdc;
}
.br-gray{
    border: 1px solid #dcdcdc !important;
}
.br-none{
    border:none !important;
}
.ol-none{
    outline: none !important;
}

.ta-center{
    text-align: center !important;
}

.mx-auto{
    margin-left: auto !important;
    margin-right: auto !important;
}
.m-10{
    margin: 10px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.ml-10{
    margin-left: 10px !important;
}
.mr-10{
    margin-right: 10px !important;
}


.p-5{
    padding: 5px !important;
}
.pt-5{
    padding-top: 5px !important;
}
.pb-5{
    padding-bottom: 5px !important;
}
.pl-5{
    padding-left: 5px !important;
}
.pr-5{
    padding-right: 5px !important;
}

.p-10{
    padding: 10px !important;
}
.pt-10{
    padding-top: 10px !important;
}
.pb-10{
    padding-bottom: 10px !important;
}
.pl-10{
    padding-left: 10px !important;
}
.pr-10{
    padding-right: 10px !important;
}

.p-15{
    padding: 15px !important;
}
.pt-15{
    padding-top: 15px !important;
}
.pb-15{
    padding-bottom: 15px !important;
}
.pl-15{
    padding-left: 15px !important;
}
.pr-15{
    padding-right: 15px !important;
}

.p-20{
    padding: 20px !important;
}
.pt-20{
    padding-top: 20px !important;
}
.pb-20{
    padding-bottom: 20px !important;
}
.pl-20{
    padding-left: 20px !important;
}
.pr-20{
    padding-right: 20px !important;
}

.bc-grey{
    background-color: #f5f5f5 !important;
}
.bc-green{
    background-color: #7fad39 !important;
}
.c-black{
    color: black !important;
}
.c-white{
    color: white !important;
}
.tt-uppercase{
    text-transform: uppercase !important; 
}
.wc-nowrap{
    white-space:nowrap !important;
}
