* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide_track {
  overflow: hidden;
}

.tran {
  transition: 500ms;
}

.slide_list {
  display: flex;
  backface-visibility: hidden;
}
.slide_list li {
  box-sizing: border-box;
  min-width: 25%;
  padding: 0 15px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-static {
  position: static;
}

.w-col-0 {
  width: 0;
}

.w-col-1 {
  width: 8.3333333333%;
}

.w-col-2 {
  width: 16.6666666667%;
}

.w-col-3 {
  width: 25%;
}

.w-col-4 {
  width: 33.3333333333%;
}

.w-col-5 {
  width: 41.6666666667%;
}

.w-col-6 {
  width: 50%;
}

.w-col-7 {
  width: 58.3333333333%;
}

.w-col-8 {
  width: 66.6666666667%;
}

.w-col-9 {
  width: 75%;
}

.w-col-10 {
  width: 83.3333333333%;
}

.w-col-11 {
  width: 91.6666666667%;
}

.w-col-12 {
  width: 100%;
}

.h-col-0 {
  height: 0;
}

.h-col-1 {
  height: 8.3333333333%;
}

.h-col-2 {
  height: 16.6666666667%;
}

.h-col-3 {
  height: 25%;
}

.h-col-4 {
  height: 33.3333333333%;
}

.h-col-5 {
  height: 41.6666666667%;
}

.h-col-6 {
  height: 50%;
}

.h-col-7 {
  height: 58.3333333333%;
}

.h-col-8 {
  height: 66.6666666667%;
}

.h-col-9 {
  height: 75%;
}

.h-col-10 {
  height: 83.3333333333%;
}

.h-col-11 {
  height: 91.6666666667%;
}

.h-col-12 {
  height: 100%;
}

.w-26 {
  width: 26px;
}

.h-26 {
  height: 26px;
}

.lh-26 {
  line-height: 26px;
}

.max-w-1200 {
  max-width: 1200px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.jc-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.m-15 {
  margin: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-45 {
  margin-bottom: 45px;
}

.p-5 {
  padding: 5px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.p-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.p-15 {
  padding: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.p-30 {
  padding: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gray {
  background-color: #f5f5f5;
}

.bg-green {
  background-color: #7fad39;
}

.c-black {
  color: #252525;
}

.c-white {
  color: white;
}

.c-gray-bold {
  color: #6f6f6f;
}

.c-green {
  color: #7fad39;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.fs-s {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.fs-m {
  font-size: 1rem;
  line-height: 1.5rem;
}

.fs-l {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.fs-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.fs-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.fs-5xl {
  font-size: 3rem;
  line-height: 3.25rem;
}

.tt-uppercase {
  text-transform: uppercase;
}

.wc-nowrap {
  white-space: nowrap;
}

.ai-center {
  align-items: center;
}

.br-r-gray {
  border-right: 1px solid #dcdcdc;
}

.br-gray {
  border: 1px solid #dcdcdc;
}

.ol-gray {
  outline: 1px solid #dcdcdc;
}

.ol-green {
  outline: 1px solid #7fad39;
}

.br-none {
  border: none;
}

.ol-none {
  outline: none;
}

.ta-center {
  text-align: center;
}

.circle {
  border-radius: 50%;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

html {
  font-family: sans-serif;
}

.header_phone_icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.hero_img {
  background-image: url(https://preview.colorlib.com/theme/ogani/img/hero/banner.jpg.webp);
  padding: 100px 75px;
}

.header_departments_menu {
  transition: 500ms;
  height: 450px;
  overflow: hidden;
  width: calc(100% - 15px);
}

.header_departments_menu_anima {
  height: 0px;
}

.header_navbar_btn {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid black;
  display: none;
}

@media only screen and (max-width: 1050px) {
  nav {
    display: none;
  }
  .hedaer_top {
    display: none;
  }
  .header_navbar_btn {
    display: block;
  }
  .header_middle_container {
    flex-wrap: wrap;
  }
  .header_logo {
    width: calc(100% - 37px);
  }
  .header_bottom_container {
    flex-direction: column;
    gap: 20px;
  }
  .header_departments_btn {
    flex-grow: 1;
  }
  .header_departments_menu {
    position: static;
    width: 100%;
    padding-right: 0;
  }
  .header_bottom_left {
    width: 100%;
    padding: 0;
  }
  .header_bottom_right {
    width: 100%;
  }
  .header_departments {
    padding: 0;
  }
  .hero_img_width {
    width: 100%;
  }
  .hero_img_padding {
    padding: 0;
  }
}